<div class = "push"></div>
<p id="popularTitle">TOP RATED MOVIES</p>
<div class="popDisplay">
	<button [disabled]="isInvalid('back')" (click)="back()" id = 'back' ><</button>
	<div *ngFor="let movie of data?.results| slice:x:y; let i=index;">
		<div class="card" >
			<a class="overlay" [routerLink]= "['/movie',movie.id]">
				<div class="movie">
					<h2>{{movie.title}}</h2>
					
					<span *ngIf="movie.overview">  
						<p id="overview">Overview: <span id = "ov">{{ (movie.overview.length>400)? (movie.overview | slice:0:400)+'...':(movie.overview)}}</span></p>
					</span>
					<span *ngIf="movie.vote_average">  
						<p id="rating">Rating: <span id = "r"> {{movie.vote_average}} / 10</span></p>
					</span>
				</div>
			</a>
			<img src="{{'http://image.tmdb.org/t/p/w342' + movie.poster_path}}">
		</div>
	</div>
	<button [disabled]="isInvalid('forward')" (click)="forward()"id = 'forward'>></button>
</div>
