<div *ngIf="auth.user$ | async as user; else login">
  <div class="body">
    <div class = "push"></div>
    <h1 id = 'title'> Welcome to ParTV, {{user.displayName}}</h1>
    <div class = "push"></div>
    <div class = "list">
      <p>You can now..</p>
      <ul>
        <li>Create Watchlists</li>
        <li>Create a Party
          <ul>
            <li>Add friends to your party (they must have accounts)</li>
            <li>Merge watchlists</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class = "push"></div>
    <button class="button" (click)="auth.signOut()">Sign Out</button>
  </div>
</div>

<ng-template #login>
  <div class="body">
    <div class = "push"></div>
    <h1 id = 'title'>Please Login for more functionality for ParTV</h1>
    <div class = "list">
    <ul>
      <li>Create Watchlists</li>
      <li>Create a Party
        <ul>
          <li>Add friends to your party (they must have accounts)</li>
          <li>Merge watchlists</li>
        </ul>
      </li>
    </ul>
  </div>
    <div class = "push"></div>
    <button id = "loginB" class="button" (click)="auth.googleSignin()">Login with Google</button>
  </div>
</ng-template>