.body {
	font-style:italic;
    text-align: center;

}
p{
    font-size: 20px;
}
h1{
    font-size : 30px;
    font-weight :bold;
}
.push {
    height : 40px;
}
.list {
    display:inline-block;
    text-align: center;
}
ul {
    font-size : 20px;
    text-align: left;
    list-style-position: inside;
}
