#header h1 {
	position: relative;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 2em;
    border-top-left-radius: 0px;
    text-decoration: none;
}
a{
  text-decoration: none;
  color: black;
  }
  
  a:visited{
  text-decoration: none;
  color: black;}
#header .icon {
  float: left;
  width: 45px;
  height: 45px;
}
#header ul.navBar li a:hover{
  color: #4CA1AF;
}
#header ul.navBar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height:48px;
}

#header ul.navBar #right {
  float: right;
}
.navBar .search-container {
  float: right;
  height: 28px;
}
@media screen and (max-width: 600px) {
  #header ul.navBar {
    height:150px;
  }
  #header ul.navBar #right {
    float: left;
  }
  .navBar .search-container {float: left;}
}
@media only screen 
and (min-device-width : 600px) 
and (max-device-width : 1024px)  { 
  #header ul.navBar {
    height:100px;
  }
  .navBar .search-container {float: left;}
  #header ul.navBar #right {
    float: left;
  }
}
#textbox{
  color:white;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-label { margin-top:-15px; }
::ng-deep label.ng-star-inserted { transform: translateY(-0.59375em) scale(.75) !important; }
::ng-deep .mat-form-field-wrapper { top: 5px}

.mat-button{
  bottom:-5px;
  color: white !important;
  font-size: 20px;
  font-weight: lighter 400;
}
.mat-button:hover{
  color: #4CA1AF !important;
}
.mat-menu-item {
  color: #4CA1AF !important;
}

button.mat-menu-item{
    background-color: white;
}

button.mat-menu-item:hover {
    background-color: #4CA1AF;
    color: #fff !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #4CA1AF;
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color:  #4CA1AF !important;
}
/* Font color */

