<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header id="header">
	<a home [routerLink]="['']">
		<h1>ParTV <img src="assets/lbicon.png" class="icon" alt="lbicon"></h1>
	</a>
	<ul id="navID" class="navBar">
		<button mat-button [routerLink]="['']">Home</button>
		
		<button mat-button [routerLink]="['random']">Random Movie</button>
		
		<button mat-button [routerLink]="['about']">About</button>
	
		<span *ngIf="auth.user$ | async as user; else login">
			<button mat-button home [routerLink]="['party']">Create a Party</button>
			<button id="right"  [matMenuTriggerFor]="loggedinmenu"  mat-button > {{user.displayName}}</button>
			<mat-menu #loggedinmenu="matMenu" yPosition="below">
				<button mat-menu-item  [routerLink]="['user']"> Watchlist</button>
				<button mat-menu-item (click)="auth.signOut()">Log Out</button>
			</mat-menu>
			
		</span>
		<div class="search-container">
			<mat-form-field floatLabel="always" class="example-full-width" appearance="outline">
				<mat-label id="textbox">Search Movie Title ... </mat-label>
				<input matInput (input)="keyword=$event.target.value" (keyup.enter)="search()" id="textbox" type="text">
			</mat-form-field>
		</div>
	</ul>
</header>

<ng-template #login>
	<button id="right" mat-button home [routerLink]="['login']"> Login </button>
</ng-template>