<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header id = "header">
	<h1>ParTV <img src="assets/lbicon.png" class="icon" alt="lbicon"></h1>
	<ul id="navID" class="navBar">
		<li><a home [routerLink]= "['']">Home</a></li>
		<li><a acc href="#acc">Account</a></li>
		<li><a films href="#films">Films</a></li>
		<li><a party href="#cop">Create a Party</a></li>
		<li class="right"><a [routerLink]= "['about']">About</a></li>
		<div class="search-container">
			<input  (input)="keyword=$event.target.value" (keyup.enter)="search()" id="textbox" type="text" placeholder="Search Movie Title..">
			<button (click)="search()" id="searchButton" type="submit"><i class="fa fa-search"></i></button>
		</div>
	</ul>
  </header>
