<div id="random" class="container">
  <h1 id="title">Randomize a movie</h1>
  <p> Can't figure out what to watch?<br><br> ParTV will randomize a movie in your choice genre.</p>
  <div>
    <mat-checkbox (change)="onChkChange()"> Check for only popular movies</mat-checkbox>
  </div>
  <div class="push"></div>
  
  <mat-form-field>
    <mat-label>Choose Genre</mat-label>
    <mat-select (selectionChange)=selectedGenre($event)>
      <mat-option value=-1>None</mat-option>
      <mat-option *ngFor="let genre of data?.genres" [value]="genre.id">
        {{genre.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <div class="push"></div>
  <button mat-raised-button id ="rBut"(click)="getMovie()" color="primary">Randomize</button>
  <div class="push"></div>
</div>