#random.container{
    position: relative;
    top: 40px;
    display: block;
    margin: 0 auto;
    text-align : center;
}

.push{
    height: 40px;
}

#random.container h1{
    font-size: 30px;
    font-weight : bold;
}

p {
    font-size : 20px;
}
