#popularTitle{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.push{
  height: 40px;
}
.popDisplay{
  margin:15px auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}
@media only screen and (max-device-width: 480px) {
button {
  display: none;
}
}
button{
  width: 40px;
  height: 270px;
  border-radius: 2px;
  padding: 6px;
  font-weight : bold;
  font-size: 17px;
  border: 1px solid #4CA1AF;
  cursor: pointer;
  background: #4CA1AF;
}
button:hover{
  transition: .5s;
  border: 1px solid rgb(120, 137, 139);;
  background: rgb(120, 137, 139);
}
.popDisplay .card{
  position: relative;
  height: 270px;
  margin-left:5px;
  margin-right:5px;
}
.popDisplay .card img{
  height: 270px;
}
.popDisplay .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  text-decoration: none;
}
.popDisplay h2{
  color: #4CA1AF;
  text-decoration: none;
  line-height: 1.5 ;
}
#r{
  color:white;
}
.popDisplay .movie p {
  color: #4CA1AF;
  font-size: 14px;
  text-align: center;
}

#overview{
  font-size: 10px;
}

.popDisplay .overlay h2, #rating, #overview{
  visibility: hidden;
  text-align: center;
  width: auto;
  text-decoration: none;
}
.popDisplay .overlay:hover{
  transition: .3s ease-in-out;
  background-color: rgba(0,0,0,.8);
}
.popDisplay .movie p {
  color: white;
  font-size: 14px;
  text-align: center;
}
.popDisplay .overlay:hover h2{
  text-decoration: none;
  visibility: visible;
}
.popDisplay .overlay:hover #overview{
  text-decoration: none;
  color: #4CA1AF;
  visibility: visible;
}
.popDisplay .overlay:hover #ov{
  text-decoration: none;
  color: white;
  visibility: visible;
}
.popDisplay .overlay:hover #rating{
  text-decoration: none;
  visibility: visible;
  color: #4CA1AF;
  font-size: 14px;
  text-align: center;
}
.label {
 text-align : center;
 font-size : 30px;
 font-weight: bold;
}
button:disabled,
button[disabled]{
  border: 1px solid rgba(103, 174, 182, 0.219);
  background: rgba(103, 174, 182, 0.219);
  color: white;
}