<div class = "push"></div>
<div class="aboutText">
  <h2>About ParTV</h2>

  <h1> The Objective of ParTV is to provide an easy way to merge watchlists, and find films to watch.</h1>
 
</div>
<ul>
  <li>ParTV uses <a href="https://developers.themoviedb.org/3/getting-started/introduction">
      The Movie Database API </a> to gather movie/cast information.</li>
  <li> It is written in typescript (Angular) and uses Node.JS as a runtime environment.</li>
  <li>For authentication and storing user info, ParTV uses <a href="https://firebase.google.com/">firebase.</a></li>
</ul>
<h1>Michelle Vu 2020</h1>


