<div class="wrapper">

  <app-header></app-header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <div class="push"></div>
</div>
<div class="footer">
  <div class="push2"></div>
  <a href="https://www.themoviedb.org/" target="_blank">
    <img src="assets/tmdb_logo_updated.svg" class="tmdbLogo" alt="tmdbLogo">
  </a>
  <div>
  <a href="https://github.com/vumic/parTV" target="_blank">
    <img src="assets/GitHub_Logo_White.png" id="githubLogo" alt="ghLogo">
  </a>
</div>
<p id = "name">Michelle Vu 2020</p>
</div>