<div class="push"></div>
<div class="instr">
    <h1 id =  'title'>Create A Party!</h1>
    <p>Not sure what your friends want to watch? ParTV allows you to see everyone's watchlist.
        (assuming everyone has an account here).
    </p>
    <h2>How to create a party?</h2>
    <p>
        Please insert the email of the person you want to add (up to 3):
    </p>
</div>

<div class="search">
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Email 1</mat-label>
          <input matInput (input)="keyword1=$event.target.value"  (keyup.enter) ="addPerson(1)"
            id="textbox1" type="email" placeholder="Ex. janedoe@gmail.com">
        </mat-form-field>
       <mat-form-field class="example-full-width">
        <mat-label>Email 2</mat-label>
        <input matInput (input)="keyword2=$event.target.value" (keyup.enter) ="addPerson(2)" id="textbox2" 
        type="email" placeholder="Ex. janedoe@gmail.com">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email 3</mat-label>
        <input matInput (input)="keyword3=$event.target.value"(keyup.enter) ="addPerson(3)" id="textbox3" 
        type="email" placeholder="Ex. janedoe@gmail.com">
      </mat-form-field>
      </form>
</div>
<div *ngIf="error > 0">
<p id = "error" class="instr">Error: {{errorMessage[0]}} {{errorMessage[1]}} {{errorMessage[2]}} is an invalid email</p>
</div>
<div class="push"></div>
<div class = "merger"><button mat-raised-button (click)="merge()" id="mergeButton" type="submit" color="primary">Merge</button></div>

<div class="push"></div>

<div *ngIf="in[4]">
    <p class = "label"> MERGED LIST </p>
    <div class="popDisplay">
        <div *ngFor="let movie of WL[4]">
            <div class="card">
                <span a class="overlay" [routerLink]="['/movie',movie.id]">
                    <span class="movie">
                        <h2>{{movie.title}}</h2>
                        <p id="rating"><strong>Rating:</strong> <span> {{movie.vote_average}} / 10</span></p>
                    </span>
                </span>
                <div *ngIf="movie.poster_path; else elseBlock">
                <img src="{{'http://image.tmdb.org/t/p/w342' + movie.poster_path}}">
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="auth.user$ | async as user;">
    <p class = "label">{{user.displayName}}'s Current List: </p>
    <div class="popDisplay">
        <div *ngFor="let movie of WL[0]">
            <div class="card">
                <span a class="overlay" [routerLink]="['/movie',movie.id]">
                    <span class="movie">
                        <h2>{{movie.title}}</h2>
                        <span *ngIf="movie.vote_average">  
                            <p id="rating">Rating: <span id = "r"> {{movie.vote_average}} / 10</span></p>
                          </span>
                    </span>
                </span>
                <div *ngIf="movie.poster_path; else elseBlock">
                    <img src="{{'http://image.tmdb.org/t/p/w342' + movie.poster_path}}">
                    </div>
            </div>
        </div>
    </div>
    <div *ngIf="in[1]">
        <p class = "label">{{keyword1}}'s Current List: </p>
        <div class="popDisplay">
            <div *ngFor="let movie of WL[1]">
                <div class="card">
                    <span a class="overlay" [routerLink]="['/movie',movie.id]">
                        <span class="movie">
                            <h2>{{movie.title}}</h2>
                            <span *ngIf="movie.vote_average">  
                                <p id="rating">Rating: <span id = "r"> {{movie.vote_average}} / 10</span></p>
                              </span>
                        </span>
                    </span>
                    <div *ngIf="movie.poster_path; else elseBlock">
                        <img src="{{'http://image.tmdb.org/t/p/w342' + movie.poster_path}}">
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="in[2]">
        <p class = "label">{{keyword2}}'s Current List: </p>
        <div class="popDisplay">
            <div *ngFor="let movie of WL[2]">
                <div class="card">
                    <span a class="overlay" [routerLink]="['/movie',movie.id]">
                        <span class="movie">
                            <h2>{{movie.title}}</h2>
                            <span *ngIf="movie.vote_average">  
                                <p id="rating">Rating: <span id = "r"> {{movie.vote_average}} / 10</span></p>
                              </span>
                        </span>
                    </span>
                    <div *ngIf="movie.poster_path; else elseBlock">
                        <img src="{{'http://image.tmdb.org/t/p/w342' + movie.poster_path}}">
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="in[3]">
        <p class = "label">{{keyword3}}'s Current List: </p>
        <div class="popDisplay">
            <div *ngFor="let movie of WL[3]">
                <div class="card">
                    <span a class="overlay" [routerLink]="['/movie',movie.id]">
                        <span class="movie">
                            <h2>{{movie.title}}</h2>
                            <span *ngIf="movie.vote_average">  
                                <p id="rating">Rating: <span id = "r"> {{movie.vote_average}} / 10</span></p>
                              </span>
                        </span>
                    </span>
                    <img src="{{'http://image.tmdb.org/t/p/w342' + movie.poster_path}}">
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <img src="assets/no_img_full.png">
  </ng-template>
