h1 {
    font-size :  30px;
    font-weight: bold;
}
h2 {
    font-size: 15px;
}
.instr{
    text-align : center;
}
input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid #ccc;
  }
.search{
    text-align:center;
}
.push{
    height: 40px;
}
.merger{
  text-align:center;
}
button {

    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: 1px solid #4CA1AF;
    cursor: pointer;
    background: #4CA1AF;
  }
  #popularTitle{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
  .push{
    height: 40px;
  }
  .popDisplay{
    margin:15px auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
  }
  .popDisplay .card{
    position: relative;
    height: 270px;
    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
    margin-bottom:5px;
  }
  .popDisplay .card img{
    height: 270px;
  }
  .popDisplay .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    text-decoration: none;
  }
  .popDisplay h2{
    color: #4CA1AF;
    text-decoration: none;
  }
  
  .popDisplay .movie p {
    color: #4CA1AF;
    font-size: 14px;
    text-align: center;
  }
  
  .popDisplay .overlay h2, #rating{
    visibility: hidden;
    text-align: center;
    width: auto;
    text-decoration: none;
  }
  .popDisplay .overlay:hover{
    transition: .3s ease-in-out;
    background-color: rgba(0,0,0,.8);
  }
  .popDisplay .movie p {
    color: white;
    font-size: 14px;
    text-align: center;
  }
  .popDisplay .overlay:hover h2{
    text-decoration: none;
    visibility: visible;
  }
 
 
  .popDisplay .overlay:hover #rating{
    text-decoration: none;
    visibility: visible;
    color: #4CA1AF;
    font-size: 14px;
    text-align: center;
  }
  .label {
   text-align : center;
   font-size : 30px;
   font-weight: bold;
  }