@charset "utf-8";
.searchMovies {
  margin:15px auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  }
  .push {
    height :30px;
    }
  .searchMovies{
    position: relative;
    margin: 50px 0;
  }
  #popularTitle{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
  .display{
    margin:15px auto;
    transition: 0.5s ease;
  }
  .card{
    margin: 0px 5px;
    position: relative;
    width: 200px;
    height: 270px;
    transition: 0.5s ease;
    display: inline-block;
  }
  .card img{
    width: 200px;
    height: 270px;
  }
  
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0px;
    display: none;
    text-decoration: none;
  }

  .overlay:hover{
    transition: .3s ease-in-out;
    background-color: rgba(0,0,0,.8);
  }
 
  .movie p {
    color: #4CA1AF;
    font-size: 14px;
    text-align: center;
  }
  #r{
    color:white;
  }
  #overview{
    color: #4CA1AF;
    font-size: 10px;
  }
  #ov{
    color:white;
  }
  #rating{
    font-size: 14px;
    color: #4CA1AF;
  }

  .overlay h2{
    margin:10px;
    text-align: center;
    width: auto;
    font-size: 20px;
    color: #4CA1AF;
    line-height: 1.5 ;
  }
  .card:hover .overlay{
    display: block;
  }

  #nextButton {
    position:absolute;
    right:40%;
  }
  #backButton {
    position:absolute;
    left:40%;
  }
  #page {
    position:absolute;
    left:50%;
    font-weight : bold;
    font-size: 17px;
  }
  button {
    display: block;
    margin: auto;
    width: 100px;
    height: 30px;
    border-radius: 2px;
    padding: 6px;
    font-weight : bold;
    font-size: 17px;
    border: 1px solid #4CA1AF;
    cursor: pointer;
    background: #4CA1AF;   
    }
  button:hover{
    transition: .5s;
    border: 1px solid rgb(120, 137, 139);;
    background: rgb(120, 137, 139);
}
button:disabled,
button[disabled]{
  border: 1px solid rgba(103, 174, 182, 0.219);
  background: rgba(103, 174, 182, 0.219);
  color: white;
}

  
  