<div class="push"></div>
<h2 id="popularTitle">Search Results</h2>
<div class="searchMovies">

  <div class="display" *ngFor="let movie of data?.results">
    <div class="card">
      <a class="overlay" [routerLink]="['/movie',movie.id]">
        <div class="movie">
          <h2>{{movie?.title}}</h2>
          <span *ngIf="movie.overview">  
						<p id="overview">Overview: <span id = "ov">{{ (movie.overview.length>400)? (movie.overview | slice:0:400)+'...':(movie.overview)}}</span></p>
					</span>
					<span *ngIf="movie.vote_average">  
						<p id="rating">Rating: <span id = "r"> {{movie.vote_average}} / 10</span></p>
					</span>
        </div>
      </a>
      <div *ngIf="movie.poster_path; else elseBlock">
        <img src="{{'http://image.tmdb.org/t/p/w342' + movie?.poster_path}}">
      </div>
    </div>
  </div>

</div>
<ng-template #elseBlock>
  <img src="assets/no_img_full.png">
</ng-template>
<button id="backButton" mat-raised-button [disabled]="isInvalid('back')" (click)="backPage()" *ngIf="data?.total_pages" color="primary">Back page</button>

<span [ngModel]="page" ngDefaultControl id="page" *ngIf="data?.total_pages">{{page}}</span>

<button id="nextButton" mat-raised-button [disabled]="isInvalid('next')" (click)="nextPage()" *ngIf="data?.total_pages" color="primary">Next page</button>

