<div class="push"></div>
<div class="displayMovie">
  <div class="card">
    <span class="image">
      <div *ngIf="data?.imdb_id; else noIMDBblock">
      <a href="https://www.imdb.com/title/{{data?.imdb_id}}/" target="_blank">
        <div *ngIf="data?.poster_path; else elseFullBlock">
          <img src="{{'http://image.tmdb.org/t/p/w342' + data?.poster_path}}">
        </div>
      </a>
    </div>
    </span>
    <span id="movie_text" class="movie">
      <h2 id="mov_name">{{data?.title}}</h2>
      <span *ngIf="data?.overview else overblock">
      <p id="overview"><span class="m-bold">Overview:</span> {{data?.overview}}</p>
      </span>
      <span *ngIf="data?.tagline">
        <p id="tagLine"><span class="m-bold">Tagline:</span> "{{data?.tagline}}"</p>
      </span>
      <span *ngIf="data?.vote_average">
      <p id="rating"><span class="m-bold">Rating:</span> {{data?.vote_average}}/10</p>
    </span>
    <span *ngIf="genres">
      <p id="genres"><span class="m-bold">Genre:</span> {{genres}}</p>
    </span>
    <span *ngIf="data?.runtime">  
      <p id="runtime"><span class="m-bold">Runtime:</span> {{data?.runtime}} minutes</p>
    </span>
    <span *ngIf="data?.budget">  
      <p id="budget"><span class="m-bold">Budget:</span> ${{data?.budget}}</p>
    </span>
      <span *ngIf="auth.user$ | async as user">
        <span *ngIf="!movieAdded; else delete">
          <button mat-raised-button [disabled]='hide'class="button" [hidden]='!hide' color="primary" >... Loading ...</button>
          <button mat-raised-button [hidden]='hide'class="button"  (click)="addToWatchlist()" color="primary">Add to Watchlist</button>
        </span>
      </span>
    </span>
  </div>
</div>

<div class="displayCast">
  <h2 id="cast_label">Cast</h2>
  <div class="CM">
    <div *ngFor="let member of cast?.cast | slice:0:14;">
      <div class="cast_card">
        <div class="cast_image">
          <span class="cast">
            <p id="cast_name">{{member?.name}}</p>
            <p id="character">Character: <span>{{member.character}}</span></p>
          </span>
          <div *ngIf="member?.profile_path; else elseCastBlock">
            <img src="{{'http://image.tmdb.org/t/p/w154/' + member?.profile_path}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="push"> </div>
<ng-template #overblock>
    <p id="overview"><span class="m-bold">Overview:</span> None</p>
</ng-template>


<ng-template #noIMDBblock>
  <div *ngIf="data?.poster_path; else elseFullBlock">
    <img src="{{'http://image.tmdb.org/t/p/w342' + data?.poster_path}}">
  </div>
</ng-template>


<ng-template #elseFullBlock>
  <img src="assets/no_img_full.png">
</ng-template>

<ng-template #elseCastBlock>
  <img src="assets/no_img_cast.png">
</ng-template>

<ng-template #delete>
  
  <button mat-raised-button [disabled]='hide' [hidden]='!hide' color="primary">... Loading ...</button>
  <button mat-raised-button [hidden]='hide' (click)="deleteFromWatchlist()" color="primary">Delete From Watchlist</button>

</ng-template>