.displayMovie{ 
    position: relative;
    width: 100%;
    height: 600px;
    background-color: rgba(134, 134, 134, 0.171);
}
.displayCast{
    position: relative;
    top: 100px;
}
.card img{
    position: absolute;
    padding: 20px;
    left: 0%;
  }
#movie_label{ 
    text-align: center;
    font-size: 40px;
}
#movie_text{
    font-size: 20px;
    position:relative;
    height: 400px;
}
#cast_label{ 
    position: relative;
    text-align: center;
    font-size: 40px;
}
.card{
    position: relative;
    display: inline-block;
    width:50%;
    border:none;
}

.card .movie {
    position:relative;
    left:400px;
    padding: 20px;
    width: 50%;
}
#mov_name{
    text-align: center;
    font-size: 40px;
    font-family: "Serif";
    color: #4CA1AF;
}
.cast {
    position: absolute;
    width: 154px;
    height: 231px;
    padding: 0px;
    font-family: "Serif";
    text-align: center;
    font-size: 15px;
    color: rgb(250, 249, 249);
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    visibility: hidden;
}
.CM{
    margin:15px auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}
.cast_card{
    position: relative;
    top: 0px;
    border: 2px black;
    padding: 20px;
    border:none;
}
.cast_image:hover .cast{
    visibility: visible;
}

#push{
    height:200px;
}