<div class = "push"></div>
<div class="displayMovie">

  <div class="card">
    <span class="image">
      <a href="https://www.imdb.com/title/{{data?.imdb_id}}/" target="_blank">
      <img src="{{'http://image.tmdb.org/t/p/w342' + data?.poster_path}}" onerror="this.onerror=null; this.src='assets/no_img_full.png'" >
    </a>
    </span>
    <span id = "movie_text" class="movie">
      <h2 id="mov_name">{{data?.title}}</h2>
      <p id="overview">Overview: {{data?.overview}}</p>
      <p id="tagLine">Tagline: "{{data?.tagline}}"</p>
      <p id="rating">Rating: {{data?.vote_average}}/10</p>
      <p id="genres">Genre: {{genres}}</p>
      <p id="runtime">Runtime: {{data?.runtime}} minutes</p>
      <p id="budget">Budget: ${{data?.budget}}</p>
      <span *ngIf="auth.user$ | async as user">
        <span *ngIf="!movieAdded; else delete">
          <button class="button" (click)="addToWatchlist()">Add to Watchlist</button>
        </span>
      </span>
    </span>
  </div>
</div>

<div class="displayCast">
  <h2 id="cast_label">Cast</h2>
  <div class="CM">
    <div *ngFor="let member of cast?.cast ">
      <div class="cast_card">
        <div class="cast_image">
          <span class="cast">
          <p id="cast_name">{{member?.name}}</p>
          <p id="character">Character: <span>{{member.character}}</span></p>
        </span>
          <img src="{{'http://image.tmdb.org/t/p/w154/' + member?.profile_path}}"onerror="this.onerror=null; this.src='assets/no_img_cast.png'" >
        </div>
        
      </div>
    </div>
  </div>
</div>
<div id = "push"> </div>

<ng-template #delete>
  <button class="button" (click)="deleteFromWatchlist()">Delete From Watchlist</button>
</ng-template>