<div class ="push"></div>
<p id="popularTitle">
	TRENDING MOVIES OF THE WEEK
</p>
<div class ="push"></div>
<div class="popDisplay">
	<button [disabled]="isInvalid('back')" (click)="back()" id = 'back' ><</button>
	<div *ngFor="let movie of data?.results | slice:x:y; let i=index;">
		<div class="card" >
			<a class="overlay" [routerLink]= "['/movie',movie.id]">
				<div class="movie">
					<h2>{{movie.title}}</h2>
					<p id="overview">Overview: {{movie.overview}}</p>
					<p id="rating">Rating: {{movie.vote_average}} / 10</p>
				</div>
			</a>
			<img onerror="this.onerror=null; this.src='assets/no_img_full.png'" src="{{'http://image.tmdb.org/t/p/w342' + movie.poster_path}}">
		</div>
	</div>
	<button [disabled]="isInvalid('forward')" (click)="forward()"id = 'forward'>></button>
</div>